* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@media only screen and (min-width: 767px) {
  .App {
    width: 50%;
    /* display: flex; */
    justify-content: center;
    border-left: 1px solid gray;
    margin: auto;
    border-right: 1px solid gray;
    min-height: 100vh;
    height: 100%;
  }
}
